.registerForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1% 0;
    
}
.input_reg{
    margin-top: 8%;
    height: 60px;
    border-radius: 15px;
    border: 1px solid rgb(184, 184, 184);
    width: 600px;
    padding: 15px;
}
.btn_reg{
    background-color: white;
    border: 1px solid rgb(209, 209, 209);
    width: auto;
    padding: 2% 8%;
    border-radius: 15px;
    font-size: 18px;
    margin-top: 8%;
}
.btn_reg:active{
    background-color: rgb(238, 238, 238);
}

.errors{
    color: rgb(247, 62, 62);
    /* position: absolute; /* Абсолютное позиционирование элемента с ошибкой */
    /* top: 100%; /* Размещение элемента с ошибкой под полем ввода */
    /* left: 0;
    margin-top: 5px; Дополнительный отступ от поля ввода */ 
    margin-bottom: -24px;
}